*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

footer {
    align-items: center;
    text-align: center;
    background-color: black;
    color: white;
    padding: 60px 0;
}

.Mecanico-container{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Mecanico-container li{
    padding: 50px;
    height: 400px;
    background-size: cover;
    background-clip: content-box;
    background-position: center;
}

.Mecanico-izq{
    flex-basis: 40%;
}

.Mecanico-der{
    flex-basis: 60%;
}

/*MECANICO ALAN GUAJARDO*/
.Titulo-Mecanico1 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 20px;
    color: black;
}

.volver {
    font-size: x-large;
    background-color: transparent;
    color: black;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 5px;
    text-decoration: none;
}

.fondo {
    position: absolute;
     top: 0;
     left: 0;
     z-index: -1;
    background-image: url(../img/fondo-mecanicos.jpg);
    width: 100%;
    height: 100%;
    background-size: cover;
    background-clip: content-box;
    background-position: center;
}

.fondo::after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: black;
    width: 100%;
   height: 100%;
   opacity: .5;
   content: '';
}

.ImagenMecanico1 {
    padding-left: 170px;
}

.botonInicioSesion {
    color: white;
    text-decoration: none;
}

.BotonvolverMecanico1 {
    text-decoration: none;
}